@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variables CSS para colores y fuentes */
:root {
    --color-primaria: #F3F5FC;
    --color-secundaria: #D8DFE8;
    --color-terciaria: #0A3871;
    --color-cuaternaria: #FFFFFF;
    --color-hover: #101314; 
    --fuente: 'Inter', sans-serif; 
}

/* Estilo global para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

header{
    padding: 2% 0% 0% 2%;
    display: flex;
    gap: 80px;


}

/* Estilo global para el cuerpo */
body {
    background-color: var(--color-primaria); /* Color de fondo para todo el cuerpo */
    color: var(--color-terciaria); /* Color de texto */
    padding: 2% 0% 0% 2%;
}

/* Contenedor principal utilizando Flexbox */
.contenedor-principal {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    gap: 20px; /* Aumentar el espacio entre las cajas */
    background-color: var(--color-primaria); 
    height: 100vh;
}

/* Secciones de texto y mensaje */
.seccion-texto {
    display: flex;
    flex-direction: column; 
    align-items:start; 
    gap: 20px; /* Ajustar el espacio entre elementos */
    background-color: var(--color-primaria); 
    padding: 1px; 
    border-radius: 8px; 
    flex: 1; 
    max-width: 45%;
    margin-left: 70px;
    margin-inline-end: 3px;
}

.seccion-mensaje {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items:center; 
    gap: 20px; 
    padding-top: 20px;
    background-color: var(--color-cuaternaria); 
    padding: 20px; /* Ajustar el relleno para más espacio */
    border: none;
    border-radius: 8px; 
    flex: 1; 
    max-width: 45%;
    min-height: 400px; /* Establece una altura mínima para la caja */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-right: 50px;


}

::placeholder{ color: var(--color-terciaria);}/*le damos color a la pseudoetiqueta*/



.Caja1DigitarTexto{
    background: var(--color-primaria);

}

.error {
color:red;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
font-size: 0.9rem;
margin-top: 2px;
display: none;
text-shadow: #101314;
position: absolute;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%);
background-color: rgba(255, 255, 255, 0.8); 
padding: 10px;
border-radius: 8px;
z-index: 2; 

}


.informacion{
    background-image: url(assets/Group.png);
    background-repeat: no-repeat;
    background-position: left center; /* Ajusta la posición del icono a la izquierda y centrado verticalmente */
    padding-left: 25px; /* Añade un relleno izquierdo para crear espacio entre el icono y el texto */
    color: #67808E;
    margin-top: 120px;
    left: 0;
    right: 0;
    font-size:small;
    
}

/* Ajustes del textarea */
textarea {
    width: 100%;
    max-width: 100%; /* Asegurar que el textarea ocupe el ancho completo */
    border: none;
    padding: 20px; 
    border-radius: 24px;
    resize: none;
    font-family: var(--fuente);
    outline: none; /* Eliminar el foco que no se vea borde al pasar el cursor*/
}

.Caja2Mensaje {
    background: var(--color-cuaternaria);
    background-image: url(assets/Muñeco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* Ajustar la posición de la imagen de fondo */
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 300px;
    margin: 0;
    resize: none;
    padding: 30px; 
    left: 200px;
    
}

.mensaje-container {
    text-align: center;
    padding: 30px;
    }

.mensaje_emergente{
    font-size: 1.5rem;
    color:#101314;
    font-weight: bold;
    padding: 10px;
}


.mensaje_emergente_recomendación{
    font-size: 1rem;
    color: #101314;
    
}

/* Estilos de botones */
.botonEncriptar, .botonDesencriptar, .botonBorrar, .boton-copiar {
    width: 150px; /* Ajusta este valor según sea necesario */
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 24px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.botones{
    display: flex;
    margin-top: 10px;
    margin-left: 1px;
    gap: 20px;
    justify-content:first baseline;/* Cambiar a flex-end para alinear botones al final */
    align-self: flex-end; /* Añadir esta línea para alinear el contenedor de botones en la parte inferior */
    width: 100%; /* Ajusta el ancho para que los botones se alineen correctamente */
    
}


.botonEncriptar {
    background-color: var(--color-terciaria);
    color: var(--color-cuaternaria);
    border: 2px solid var(--color-terciaria);

}

.botonDesencriptar {
    background-color: var(--color-secundaria);
    color: var(--color-terciaria);
    border: 2px solid var(--color-terciaria);
}

.botonBorrar {
    background-color: var(--color-cuaternaria);
    color: var(--color-terciaria);
    border: 2px solid var(--color-terciaria);
    
}



.boton-copiar {
    background-color: var(--color-cuaternaria);
    color: var(--color-secundaria);
    border: 2px solid var(--color-secundaria);
    
}

/* Hover para botones */
.botonEncriptar:hover, .botonDesencriptar:hover,.botonBorrar:hover, .boton-copiar:hover {
    background-color: var(--color-hover);
}

/* Estilos para el footer */
.footer {
    background-color: var(--color-terciaria);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;


}

.footer_texto{
    color: var(--color-cuaternaria);  
    font-weight: lighter;
}
  
.nombre_desarollador{
    color: var(--color-cuaternaria);
    font-weight: bold;
}
/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column; /* Coloca los elementos en columnas, uno debajo del otro */
        align-items: center; /* Centra los elementos horizontalmente */
        height: auto; /* Ajusta la altura para que se adapte al contenido */
        padding-bottom: 100px; /* Aumenta el padding inferior para espacio con el footer prevenir que el footer tape el boton copiar */
    }

    .seccion-texto, 
    .seccion-mensaje {
        max-width: 100%; /* Asegura que cada sección ocupe el ancho completo del contenedor */
        margin: 0; 
    }

    .botones {
        flex-direction: column; /* Coloca los botones uno debajo del otro */
        align-items: center; /* Centra los botones horizontalmente */
        gap: 10px; /* Ajusta el espacio entre los botones */
    }

    .informacion {
        font-size: small; /* Reduce el tamaño de la fuente para móviles */
        margin-top: 20px; /* Ajusta el margen superior para móviles */
    }
}
 /* Ajuste del footer en dispositivos móviles */
    .footer {
        .footer {
        position: relative; /* Cambia la posición a relativa para que no se superponga */
        padding-top: 20px; 
    }

   @media (max-width: 600px) {
    .footer {
        padding: 20px; /* Añadir más padding para pantallas más pequeñas */
    }

    .nombre_desarollador {
        display: block; /* Muestra el nombre del desarrollador como bloque completo */
        width: auto; 
    }
}
